{% extends "wrappermaingame.html" %}

{% block content %}
<body  class="bg-dark">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark topnav-right">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link " href="#">Welcome {{ user.username }} <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Вихід</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="row justify-content-md-center text-white">
    <h1>Байкар-технар</h1>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-7">
      <div class="container text-white pt-5">
        <table class="table table-dark">
            <h2>Поточні ігри</h2>
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Назва</th>
              <th scope="col">Взяти участь</th>
            </tr>
          </thead>
          <tbody>
            {% for tale in tales %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{tale.TaleName}}</td>
                <td><div class = "addclass" value={{tale.id}}><button type="button" class="btn btn-info " data-toggle="modal" data-target="#modal-add-sentence">Продовжити казку</button></div></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-auto"> 
      <div class="container text-white pt-5">
        <div class="col m-4">
              <div class="col p-3">
                <button type="button" class="btn btn-lg btn-success btn-block" data-toggle="modal" data-target="#myModal">Почати нову гру</button>
              </div>
              <div class="col p-3">
                  <button type="button" class="btn  btn-lg btn-primary btn-block">Випадкова завершена казка</button>
              </div>
              <div class="col p-3">
                  <button type="button" class="btn  btn-lg btn-info text-white btn-block">Випадкова незавершена казка</button>
              </div>
              <div class="col p-3">
                  <button type="button" class="btn  btn-lg btn-light btn-block">Перелік завершених казок</button>
              </div>
        </div>
      </div>
    </div>
  </div>

  <div id="myModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Створити нову казку</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Назвіть казку:</p>
          <form>
            <div class="form-group">
              <textarea id="txt-title" class="form-control" wrap="soft" placeholder="Назва казки"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-body">
          <p>Напишіть перше речення:</p>
          <form>
            <div class="form-group">
              <textarea id="txt-sentence" class="form-control" wrap="soft" placeholder="Перше речення"></textarea>
            </div>
          </form>
          <div id = "div-argumentinvalid"></div> <!--Форма для вывода просьбы заполнить все необходимые поля-->
        </div>
        <div class="modal-footer">
            <button id = "btn-addtale" type="button" class="btn btn-success">Створити</button>
        </div>
      </div>
    </div>
  </div> 

  <div id="modal-add-sentence" class="modal" tabindex="-1" role="dialog"> <!--Всплывающее окно для продолжения сказки-->
  </div>

  <script type="text/javascript"> //Формирование всплывающего окна для продолжения сказки
    $('.addclass').click
    (
        function(e)
        {
            var buttondata = $(this).attr("value")
            $.ajax
            (
                {
                    url: "ajax/GetAddSentenceResponse/",
                    type: "POST",
                    data: {"buttonvalue": buttondata},
                    success: function(htmldata)
                    {
                        document.getElementById('modal-add-sentence').innerHTML = htmldata;
                        // Привязываем событие
                        $('#btn-addsentence').bind('click',function(event)
                          {
                            var sentence = document.getElementById("txt-addsentence").value
                            if (sentence.trim() !== '') //Проверка все ли поля заполнены
                            {
                              $.ajax
                              (
                                  {
                                      url: "ajax/AddSentence/",
                                      type: "POST",
                                      data: {
                                        "sentence": sentence,
                                        "taleid": buttondata,
                                        },
                                      success: function()
                                      {
                                          //Нужно закрыть всплывающее окно
                                      }
                                  }
                              )
                              .fail(function() {
                                alert("fail");
                              });
                              }
                            else //Не все поля заполнены
                            {
                              document.getElementById('div-argumentinvalid-2').innerHTML = "Будь ласка, напишіть своє речення.";
                            }

                            event.preventDefault();
                          });
                    }
                }
            )
        .fail(function() {
        alert("fail");
        });
        }
    );
  </script>


  <script type="text/javascript"> //Обработчик кнопки добавления новой сказки
    $('#btn-addtale').click
    (
        function()
        {
            var title = document.getElementById("txt-title").value
            var firstsentence = document.getElementById("txt-sentence").value
            if (title.trim() !== '' && firstsentence.trim() !== '') //Проверка все ли поля заполнены
            {
              $.ajax
              (
                  {
                      url: "ajax/AddTale/",
                      type: "POST",
                      data: {
                        "title": title,
                        "firstsentence" : firstsentence
                        },
                      success: function(htmldata)
                      {
                          //Нужно закрыть всплывающее окно
                      }
                  }
              )
              .fail(function() {
                alert("fail");
              });
              }
            else //Не все поля заполнены
            {
              document.getElementById('div-argumentinvalid').innerHTML = "Будь ласка, заповніть усі поля.";
            }
        }
    );
  </script>


</body>
{% endblock %}