{% extends "wrappermaingame.html" %}

{% block content %}

<body class="bg-dark">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark topnav-right">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link " href="{% url 'UserProfile:profile' %}">Вітаємо, <span
              class="text-warning">{{ user.first_name }}</span> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Вихід</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="row justify-content-md-center text-white w-100">
    <h1>Байкар-технар</h1>
  </div>

  <div class="row justify-content-md-center w-100">
    <div class="col-7">
      <div class="container text-white pt-5">
        <h2>Поточні ігри</h2>
        <div class="table-wrapper-scroll-y my-custom-scrollbar scrollbar-dusty-grass">
          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Назва</th>
                <th scope="col">Взяти участь</th>
              </tr>
            </thead>
            <tbody id="listoftales">
              {% for tale in tales %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{tale.TaleName}}</td>
                <td>
                  <div class="addclass" value={{tale.id}}><button type="button" class="btn btn-info "
                      data-toggle="modal" data-target="#modal-add-sentence">Продовжити казку</button></div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-auto">
      <div class="container text-white pt-5">
        <div class="col m-4 bg-dark">
          <div style="padding-bottom: 5px;"><button type="button" class="btn btn-lg btn-success btn-block"
              data-toggle="modal" data-target="#myModal">Почати нову гру</button></div>
          <div style="padding-top: 5px; padding-bottom: 5px;" class="randomclosed"><button type="button"
              class="btn  btn-lg btn-primary btn-block" data-toggle="modal" data-target="#modal-random-tale">Випадкова
              завершена казка</button></div>
          <div style="padding-top: 5px; padding-bottom: 5px;" class="addclass" value="random"><button type="button"
              class="btn  btn-lg btn-info text-white btn-block" data-toggle="modal"
              data-target="#modal-add-sentence">Випадкова незавершена казка</button></div>
          {% load static %}
          <img src="{% static "mainimage.svg" %}" alt="dude do be reading" class="img-fluid">
          <a class="btn  btn-lg btn-light btn-block"
            href="{% url 'Tales:index' %}">Архів казок</a>
        </div>
      </div>
    </div>
  </div>

  <div id="myModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Створити нову казку</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Назвіть казку:</p>
          <form>
            <div class="form-group">
              <input id="txt-title" class="form-control" wrap="soft" placeholder="Назва казки"></input>
            </div>
          </form>
        </div>
        <div class="modal-body">
          <p>Напишіть перше речення:</p>
          <form>
            <div class="form-group">
              <textarea id="txt-sentence" class="form-control" wrap="soft" placeholder="Перше речення"></textarea>
            </div>
          </form>
          <div id="div-argumentinvalid"></div>
          <!--Форма для вывода просьбы заполнить все необходимые поля-->
        </div>
        <div class="modal-footer">
          <button id="btn-addtale" type="button" class="btn btn-success">Створити</button>
        </div>
      </div>
    </div>
  </div>

  <div id="modal-add-sentence" class="modal" tabindex="-1" role="dialog">
    <!--Всплывающее окно для продолжения сказки-->
  </div>

  <div id="modal-random-tale" class="modal" tabindex="-1" role="dialog">
    <!--Всплывающее окно для случайной сказки-->
  </div>

  <script type="text/javascript"> //Формирование всплывающего окна для рандомной законченной сказки
    var token = '{{csrf_token}}';
    $('.randomclosed').click
      (
        function () {
          $.ajax
            (
              {
                headers: { "X-CSRFToken": token },
                url: "ajax/GetRandomResponse/",
                type: "POST",
                success: function (htmldata) {
                  document.getElementById('modal-random-tale').innerHTML = htmldata;
                }
              }
            )
            .fail(function () {
              alert("Random closed tale fail");
            });
        }
      );
  </script>


  <script type="text/javascript"> //Формирование всплывающего окна для продолжения сказки
    var token = '{{csrf_token}}';
    $('.addclass').click
      (
        function () {
          var buttondata = $(this).attr("value")
          $.ajax
            (
              {
                headers: { "X-CSRFToken": token },
                url: "ajax/GetAddSentenceResponse/",
                type: "POST",
                data: { "buttonvalue": buttondata },
                success: function (htmldata) {
                  document.getElementById('modal-add-sentence').innerHTML = htmldata;
                  // Привязываем событие
                  $('#btn-addsentence').bind('click', function (event) {
                    var sentence = document.getElementById("txt-addsentence").value
                    if (sentence.trim() !== '') //Проверка все ли поля заполнены
                    {
                      buttondata = $(this).attr("value")
                      $.ajax
                        (
                          {
                            headers: { "X-CSRFToken": token },
                            url: "ajax/AddSentence/",
                            type: "POST",
                            data: {
                              "sentence": sentence,
                              "taleid": buttondata,
                            },
                            success: function () {
                              $('#modal-add-sentence').trigger('click.dismiss.bs.modal')
                            }
                          }
                        )
                        .fail(function () {
                          alert("fail");
                        });
                    }
                    else //Не все поля заполнены
                    {
                      document.getElementById('div-argumentinvalid-2').innerHTML = "Будь ласка, напишіть своє речення.";
                    }

                    event.preventDefault();
                  });
                  // Привязываем событие окончания сказки
                  $('#btn-closetale').bind('click', function (event) {
                    var sentence = document.getElementById("txt-addsentence").value
                    if (sentence.trim() !== '') //Проверка все ли поля заполнены
                    {
                      buttondata = $(this).attr("value")
                      $.ajax
                        (
                          {
                            headers: { "X-CSRFToken": token },
                            url: "ajax/CloseTale/",
                            type: "POST",
                            data: {
                              "sentence": sentence,
                              "taleid": buttondata,
                            },
                            success: function () {
                              $('#modal-add-sentence').trigger('click.dismiss.bs.modal')
                              RefreshTales()
                            }
                          }
                        )
                        .fail(function () {
                          alert("Tale closing system fail");
                        });
                    }
                    else //Не все поля заполнены
                    {
                      document.getElementById('div-argumentinvalid-2').innerHTML = "Будь ласка, напишіть своє речення.";
                    }

                    event.preventDefault();
                  });
                }
              }
            )
            .fail(function () {
              alert("fail");
            });
        }
      );
  </script>


  <script type="text/javascript"> //Обработчик кнопки добавления новой сказки
    var token = '{{csrf_token}}';
    $('#btn-addtale').click
      (
        function () {
          var title = document.getElementById("txt-title").value
          var firstsentence = document.getElementById("txt-sentence").value
          if (title.trim() !== '' && firstsentence.trim() !== '') //Проверка все ли поля заполнены
          {
            $.ajax
              (
                {
                  headers: { "X-CSRFToken": token },
                  url: "ajax/AddTale/",
                  type: "POST",
                  data: {
                    "title": title,
                    "firstsentence": firstsentence
                  },
                  success: function (htmldata) {
                    $('#myModal').trigger('click.dismiss.bs.modal')
                    RefreshTales()
                  }
                }
              )
              .fail(function () {
                alert("fail");
              });
          }
          else //Не все поля заполнены
          {
            document.getElementById('div-argumentinvalid').innerHTML = "Будь ласка, заповніть усі поля.";
          }
        }
      );
  </script>

  <script type="text/javascript">
    function RefreshTales() {
      var token = '{{csrf_token}}';
      $.ajax
        (
          {
            headers: { "X-CSRFToken": token },
            url: "ajax/rfhtales/",
            type: "POST",
            success: function (htmldata) {
              document.getElementById('listoftales').innerHTML = htmldata;
              // Привязываем событие
              $('.addclass').bind('click', function (event) {
                var buttondata = $(this).attr("value")
                $.ajax
                  (
                    {
                      headers: { "X-CSRFToken": token },
                      url: "ajax/GetAddSentenceResponse/",
                      type: "POST",
                      data: { "buttonvalue": buttondata },
                      success: function (htmldata) {
                        document.getElementById('modal-add-sentence').innerHTML = htmldata;
                        // Привязываем событие
                        $('#btn-addsentence').bind('click', function (event) {
                          var sentence = document.getElementById("txt-addsentence").value
                          if (sentence.trim() !== '') //Проверка все ли поля заполнены
                          {
                            $.ajax
                              (
                                {
                                  headers: { "X-CSRFToken": token },
                                  url: "ajax/AddSentence/",
                                  type: "POST",
                                  data: {
                                    "sentence": sentence,
                                    "taleid": buttondata,
                                  },
                                  success: function () {
                                    $('#modal-add-sentence').trigger('click.dismiss.bs.modal')
                                  }
                                }
                              )
                              .fail(function () {
                                alert("fail1");
                              });
                          }
                          else //Не все поля заполнены
                          {
                            document.getElementById('div-argumentinvalid-2').innerHTML = "Будь ласка, напишіть своє речення.";
                          }

                          event.preventDefault();
                        });
                      }
                    }
                  )
                  .fail(function () {
                    alert("fail2");
                  });
                event.preventDefault();
              });
            }
          }
        )
        .fail(function () {
          alert("fail3");
        });
    };
  </script>

</body>
{% endblock %}