{% extends "wrapper.html" %}

{% block content %}
<div class="jumbotron">

  <div>
      <script>
          function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
          }
        var csrftoken = getCookie('csrftoken');


        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
      </script>
  </div> <!--CSRF TOKEN HERE-->
  {% csrf_token %}



  <script type="text/javascript">
      var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
  </script>


    <div class="container">
        <h1>Тестовая страница для добавления новой сказки</h1>
        <h4>Название сказки:</h4>
        <div class="text">
            <textarea name="Sentence" cols="40" rows="1" id='textarea'></textarea>
        </div>
        <a>
            <button id='btn-create' class="btn btn-success btn-lg" >Создать сказку</button>
        </a>
        <a>
            <button id='btn-retrieve' class="btn btn-success btn-lg" >Показать доступные сказки</button>
        </a>

        <div id='div-tales'>
        </div>

    </div>
</div>

<div>
    <script type="text/javascript">
        $('#btn-create').click
        (
            function()
            {
                var textdata = document.getElementById("textarea").value
                $.ajax
                (
                    {
                        url: "ajax/create/",
                        type: "POST",
                        data: {"textdata": textdata},
                        success: function()
                        {
                            alert("AJAX OK");
                        }
                    }
                )
            .fail(function() {
            alert("fail");
            });
            }
        );
      </script>

    <script type="text/javascript">
        $('#btn-retrieve').click
        (
            function()
            {
                $.ajax
                (
                    {
                        url: "ajax/retrieve/",
                        type: "POST",
                        //data: {"textdata": textdata},
                        success: function(htmldata)
                        {
                            //alert("AJAX OK");
                            document.getElementById('div-tales').innerHTML = htmldata;
                        }
                    }
                )
            .fail(function() {
            alert("fail");
            });
            }
        );
    </script>
</div>
{% endblock %}