<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Байкар-технар - Логін</title>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
  crossorigin="anonymous"></script>
  {% load static %} 
  <link rel="stylesheet" href="{% static 'login_scroll.css' %}">

</head>

<body class="bg-dark">
  <div class="container text-white pt-3">
    <div class="row">
      <div class="col-md-6 text-center">
        <button class="btn btn-success btn-lg btn-rounded" data-toggle="modal" data-target="#elegantModalForm">Авторизація</button></div>
        <div class="col-md-6 text-center">
          <button class="btn btn-lg btn-danger" data-toggle="modal" data-target="#myModal2">Інструкція</button>
        </div>
      </div>
    </div>
    <div class="modal fade" id="elegantModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <!--Content-->
      <div class="modal-content form-elegant">
        <!--Header-->
        <div class="modal-header text-center">
          <h3 class="modal-title w-100 text-center" id="myModalLabel"><strong>Вхід за допомогою</strong></h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!--Body-->
        <div class="modal-body mx-4">
          <!--Body-->
          <div class="row my-3 d-flex justify-content-center">
            <!--Facebook-->
            <button type="button" class="btn btn-white btn-rounded mr-md-3 z-depth-1a" ><img src="https://img.icons8.com/color/48/000000/facebook.png"/>  <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook
            </a><i class="fab fa-facebook-f text-center"></i></button>
            <!--GitHub-->
            <button type="button" class="btn btn-white btn-rounded z-depth-1a"><img src="https://img.icons8.com/cute-clipart/64/000000/github.png"/><i class="fab fa-google-plus-g"></i></button>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
  </div>
      <div id="myModal2" class="modal fade" tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
                  <div class="modal-header text-center">
          <h3 class="modal-title w-100 text-center" id="myModalLabel"><strong><span class="text-warning">Інструкція</span></strong></h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <div class="modal-body"><em>Ви — байкар-казкар, відправлений в Імперію
Нісенітниці з волі Ради. Ваше минуле давно забуте, ви обміняли свободу на силу. Натомість Рада просить тільки
продовжити оповіді; і тепер вам віддають накази, які
не можна піддавати сумнівам. Нагородою за покору стануть слава, знання і залік по технічній практиці. Ви вільні діяти разом
з іншими байкарами-казкарами.
Можливо, ви ще пошкодуєте про рішення приєднатися до ФРЕКС, але прямо
Зараз ви крокуєте по шляху знань і Нісенітниці.</em>
<p></p>
Ви маєте право:
<ul>
<li>Дати назву новій казці і написати Перше речення.</li>
<li>Продовжити нісенітницю іншого гравця. Зверніть увагу, що побачити можете тільки останнє речення казки і написати лише одне.</li>
<li>Можливість завершити казку з'явиться тільки, якщо в ній буде не менше 10 речень.</li><ul></div>
  <p class="text-center">{% load static %}<img src="{% static "loginimage.svg" %}" alt="dude do be arting" class="img-fluid" style="max-height: 350px; max-width: 250px;"></p>
        </div>
      </div>
    </div>
  <div class="container pt-5">
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-6 mb-4">

        <!-- Tale 1 -->
        <div class="card example-1 scrollbar-ripe-malinka">
          <div class="card-body">
            <h4 id="section1"><strong>First tale</strong></h4>
            <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
              qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
              mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
              qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
            Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
            <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
              qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
              mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
              qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
            Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
          </div>
        </div>
        <!-- Tale 1 -->

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-6 mb-4">

        <!-- Tale 2 -->
        <div class="card example-1 scrollbar-cyan bordered-cyan">
          <div class="card-body">
            <h4 id="section1"><strong>Second tale</strong></h4>
            <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
              qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
              mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
              qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
            Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
            <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
              qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
              mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
              qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
            Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
          </div>
        </div>
        <!-- Tale 2 -->

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-6 mb-4">

        <!-- Tale 3 -->
        <div class="card example-1 scrollbar-deep-purple bordered-deep-purple">
          <div class="card-body">
            <h4 id="section1"><strong>Third tale</strong></h4>
            <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
              qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
              mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
              qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
            Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
          </div>
        </div>
        <!-- Tale 3 -->

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-6">

        <!-- Tale 4 -->
        <div class="card example-1 scrollbar-dusty-grass ">
          <div class="card-body">
            <h4 id="section1"><strong>Fourth tale</strong></h4>
            <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
              qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
              mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
              qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
            Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
          </div>
        </div>
        <!-- Tale 4 -->

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->
  </div>
</div>
</body>

</html>