{% extends "wrapper.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>Тестовая страница для добавления новой сказки</h1>
        <h4>Название сказки:</h4>
        <div class="text">
            <textarea name="Sentence" cols="40" rows="1" id='textarea'></textarea>
        </div>
        <a>
            <button id='btn-create' class="btn btn-success btn-lg" >Создать сказку</button>
        </a>
        <a>
            <button id='btn-retrieve' class="btn btn-success btn-lg" >Показать доступные сказки</button>
        </a>

        <div id='div-tales'>
        </div>

    </div>
</div>

<div>
    <script type="text/javascript">
        $('#btn-create').click
        (
            function()
            {
                var textdata = document.getElementById("textarea").value
                $.ajax
                (
                    {
                        url: "ajax/create/",
                        type: "POST",
                        data: {"textdata": textdata},
                        success: function()
                        {
                            alert("AJAX OK");
                        }
                    }
                )
            .fail(function() {
            alert("fail");
            });
            }
        );
      </script>

    <script type="text/javascript">
        $('#btn-retrieve').click
        (
            function()
            {
                $.ajax
                (
                    {
                        url: "ajax/retrieve/",
                        type: "POST",
                        //data: {"textdata": textdata},
                        success: function(htmldata)
                        {
                            //alert("AJAX OK");
                            document.getElementById('div-tales').innerHTML = htmldata;
                        }
                    }
                )
            .fail(function() {
            alert("fail");
            });
            }
        );
    </script>
</div>
{% endblock %}