{% extends "wrapper.html" %}

{% block content %}
<div class="jumbotron">

  <script>
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');


    function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        } 
    });
  </script>

  {% csrf_token %}

  <script type="text/javascript">
  // using jQuery
  var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
  </script>

    <div class="container">
      <h1>Тестим</h1>
      Приложение
      <p> 
          <a>
            <button id='btn-add' class="btn btn-success btn-lg" >Add one</button>
          </a>
          <a>
            <button id='btn-subtract' class="btn btn-success btn-lg" >Subtract one</button>
          </a>
           <script type="text/javascript">
            $('#btn-add').click
            (
              function()
                  {
                    //alert("good");
                    $.ajax
                    (
                      {
                        url: "ajax/testadd/",
                        type: "POST",
                        success: function()
                        {
                          alert("good");
                        }
                      }
                    )
                    .fail(function() {
                      alert("fail");
                    });
                  }
            );
          </script>
      </p>
    </div>
  </div>
{% endblock %}