
<html>
<head>
	<meta charset="utf-8">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="profile.css">
	<script src="profile.js"></script>
</head>
<body class="bg-dark">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark topnav-right">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse " id="navbarTogglerDemo01">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active">
					<a class="nav-link " href="{% url 'MainGame:index' %}">Головна <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'logout' %}">Вихід</a>
				</li>
			</ul>
		</div>
	</nav>
	<header>
		<div class="view grey lighten-3">
			<div class="mask">
				<div class="container h-50">
					<div class="row align-items-center h-100">
						<div class="col-md-6 text-white">
							<h1 class="mb-4">Привіт, <span class="text-warning">{{user.first_name}}</span></h1>
							<p class="mb-4 pb-2">Ти приєднався до нас <span class="text-warning">{{date}}</span>. За цей час взяв участь в <span class="text-warning">{{participation}}</span> {{kaz}}. Став автором <span class="text-warning">{{author}}</span> {{istor}}. </p>
							<a type="button" class="btn btn-primary btn-rounded btn-md ml-md-0" href="{% url 'Tales:index' %}">Мої казки (як учасник)</a>
							<a type="button" class="btn btn-info btn-rounded btn-md" href="{% url 'Tales:authorindex' %}">Мої казки (як автор)</a>
						</div>
						<div class="col-md-6">
							{% load static %} 
                  			<img src="{% static "profileimage.svg" %}" alt="dude do be chillin" class="img-fluid">
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
</body>
</html>