{% extends "wrappertales.html" %}

{% block content %}

<body class="bg-dark">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark topnav-right">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link " href="{% url 'MainGame:index' %}">Головна <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'UserProfile:profile' %}">Профіль</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Вихід</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="col-lg-12 text-center text-white pt-3"><p class="display-1">Архів казок</p></div>
  <div class="container text-white pt-5">
    <nav >
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="false">Всі казки</a>
        <a class="nav-item nav-link {{member}} text-info" id="nav-member-tab" data-toggle="tab" href="#nav-member" role="tab" aria-controls="nav-member" aria-selected="true">Мої казки (як учасник)</a>
        <a class="nav-item nav-link {{author}} text-success" id="nav-author-tab" data-toggle="tab" href="#nav-author" role="tab" aria-controls="nav-author" aria-selected="false">Мої казки (як автор)</a>
      </div>
    </nav>
    <div class="tab-content text-white" id="nav-tabContent">
      <div class="tab-pane fade" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Назва</th>
            </tr>
          </thead>
          <tbody>
            {% for tale in alltales %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{tale.TaleName}}</td>
                <td>
                  <div class="readclass" value="{{tale.id}}"><button type="button" class="btn btn-info "
                      data-toggle="modal" data-target="#modal-tale">Прочитати</button></div>
                </td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade show {{member}}" id="nav-member" role="tabpanel" aria-labelledby="nav-member-tab">
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Назва</th>
            </tr>
          </thead>
          <tbody>
            {% for tale in membertales %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{tale.TaleName}}</td>
                <td>
                  <div class="readclass" value="{{tale.id}}"><button type="button" class="btn btn-info "
                      data-toggle="modal" data-target="#modal-tale">Прочитати</button></div>
                </td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade show {{author}}" id="nav-author" role="tabpanel" aria-labelledby="nav-author-tab">
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Назва</th>
            </tr>
          </thead>
          <tbody>
            {% for tale in authortales %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{tale.TaleName}}</td>
                <td>
                  <div class="readclass" value="{{tale.id}}"><button type="button" class="btn btn-info "
                      data-toggle="modal" data-target="#modal-tale">Прочитати</button></div>
                </td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div id="modal-tale" class="modal" tabindex="-1" role="dialog">
    <!--Всплывающее окно для сказки-->
  </div>



  <script type="text/javascript"> //Формирование всплывающего окна для рандомной законченной сказки
    var token = '{{csrf_token}}';
    $('.readclass').click
      (
        function () {
          var buttondata = $(this).attr("value")
          $.ajax
            (
              {
                headers: { "X-CSRFToken": token },
                url: "ajax/GetTale/",
                type: "POST",
                data: { "taleid": buttondata },
                success: function (htmldata) {
                  document.getElementById('modal-tale').innerHTML = htmldata;
                }
              }
            )
            .fail(function () {
              alert("tale fail");
            });
        }
      );
  </script>



</body>

{% endblock %}